{% for page in site.pages %}
{% if page.video-id %}
<div class="portfolio-modal modal videoModal fade" id="portfolioModal{{ page.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>{{ page.title }}</h2>
            <hr class="star-primary">
            <iframe width="100%" height="350" src="https://www.youtube.com/embed/{{page.video-id}}?start={{page.video-start}}&end={{page.video-end}}&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{ page.descricao }}</p>
            <ul class="list-inline item-details">
              <li>Data da gravação:
                <strong>{{ page.data-gravacao }}
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
