<section id="sobre">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Sobre nós</h2>
        <h3 class="section-subheading text-muted">Um pouquinho da nossa história</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="img/historia/1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2005</h4>
                <h4 class="subheading">O início da jornada</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Tudo começou em 2005, durante um encontro do grupo de jovens JAUC da Paróquia São José, em Taguatinga Norte, Brasília-DF.
                  Em um momento do encontro, estávamos na capela quando escutamos o primeiro rascunho de uma música que mudou a nossa história.
                  Diante do Santíssimo, tivemos a graça de sermos apresentados à música que para nós foi um verdadeiro Sopro do Pai.
                  Dauana cantarolou as primeiras notas enquanto Vinicius logo começou a harmonizar aquele sopro do Espírito.
                  A música foi composta pela Dauana e, a partir daquele dia, tomou uma forma mais definida.
                  Robson, Vinicius, Sérgio e Dauana estavam juntos na capela e o Sopro do Pai deixou seus corações inquietos.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="img-circle img-responsive" src="img/historia/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2005</h4>
                  <h4 class="subheading">Uma semana depois</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Na semana seguinte, os fundadores do Ministério Epheta, Robson e Vinicius, inspirados pelo Espírito Santo, decidiram dar um ponta pé inicial nessa jornada.
                    Foram convidados Sérgio, Dauana e Marcondes para um bate-papo inicial e ali se concretizou o Ministério de Música.
                    Em oração, recebemos do Senhor o trecho em Marcos 7, 32-37, onde Jesus curou um surdo-mudo usando a palavra Epheta, que quer dizer “abre-te”.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="img-circle img-responsive" src="img/historia/3.jpg" alt="">
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2006</h4>
                    <h4 class="subheading">A missão começou</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Ao final do mesmo ano, começaram surgir os primeiros convites para tocar e junto com eles outros membros para nos completar, o baixista, João Paulo, o vocalista, Cícero.
                      Logo no ano seguinte, em 2006, Deus nos surpreendeu outra vez e nos apresentou o baterista, Rogério, fechando a nossa formação inicial.
                      Com essa formação, o Ministério Epheta estabeleceu sua missão de evangelizar através da música em Missas, Encontros, Retiros, Shows e afins.</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <img class="img-circle img-responsive" src="img/historia/4.jpg" alt="">
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>...</h4>
                      <h4 class="subheading">...</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">...</p>
                    </div>
                  </div>
                </li>
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h4>E Epheta,
                      <br>continua!</h4>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
